html {
    box-sizing: border-box;
    font-size: 62.5%; // 1 rem = 10 px
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    font-family: "Kumbh Sans", sans-serif;
    background-color: var(--dark-cyan);
  }

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: white;
    width: 326px;
    border-radius: 16px;
    overflow: hidden;
    
}
 
.card-header {
    width: 100%;
    display: block;
}



.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.card-body-img {
    border: 5px solid white;
    border-radius: 50%;
    background-color: darkgoldenrod;
    
    margin-top: -53px;
}

.card-footer {
display: flex;
justify-content: space-around;
border-top: 1px solid var(--Dark-cyan);
}

#gracias {
  font-size: 100px;
  text-align: center;
  
}

#escribir {
  text-align: center;
}